.section--banner {
	padding: 24rem 0 20rem;
	position: relative;
}

.section--banner .container {
	text-align: center;
	position: relative;
	z-index: 2;
}

.section--banner .LazyImage {
	margin: 0 auto 3rem;
	max-height: 10rem;
}

.section--banner .title {
	margin-bottom: 1rem;
}

.section--banner h1 {
	font-size: 7em;
	margin-bottom: 1.5rem;
	color: white;
}

.section--banner-content {
	max-width: 50%;
	margin: 0 auto 4rem !important;
	line-height: 1.4;
	color: white;
}

.section--banner:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}


@media only screen and (max-width: 850px) {
	.section--banner h1 {
		font-size: 5em;
	}
}

@media only screen and (max-width: 768px) {
	.section--banner {
		padding: 18rem 0 14rem;
	}
}

@media only screen and (max-width: 600px) {
	.section--banner-content {
		max-width: 80%;
	}
}

@media only screen and (max-width: 375px) {
	.section--banner {
		padding: 14rem 0 10rem;
	}

	.section--banner h1 {
		font-size: 3em;
	}

	.section--banner-content {
		max-width: 100%;
	}

	.section--banner .LazyImage {
		margin: 0 auto 1rem;
		max-height: 5rem;
	}
}
