.section--banner {
	padding: 24rem 0 20rem;
	position: relative;
	overflow: hidden;
}

.section--banner.section-thick {
	padding: 0 0 54rem;
}

.section--banner .video-container,
.section--banner .video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	z-index: 1;
}

.Home .section--banner .video-container {
	z-index: 0;
}

.section--banner .video-play {
	height: 11rem;
	width: 11rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 2;
	border-radius: 100%;
	transition: all ease-in-out .2s;
	opacity: 1;
	box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
}

.section--banner .video-play.non-active {
	opacity: 0;
}

.section--banner .video-play img {
	height: 5rem;
}

.section--banner .mobile-only {
	display: none;
}

.section--banner .container {
	text-align: center;
	position: relative;
	z-index: 2;
}

.section--banner .LazyImage {
	margin: 0 auto 3rem;
	max-height: 10rem;
}

.section--banner .title {
	margin-bottom: 1rem;
}

.section--banner h1 {
	font-size: 7em;
	margin-bottom: 1.5rem;
	color: white;
}

.section--banner-content {
	max-width: 50%;
	margin: 0 auto 4rem !important;
	line-height: 1.4;
	color: white;
}

.section--banner:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}


@media only screen and (max-width: 850px) {
	.section--banner h1 {
		font-size: 5em;
	}
}

@media only screen and (max-width: 768px) {
	.section--banner {
		padding: 18rem 0 14rem;
	}

	.section--banner.section-thick {
		padding: 0 0 42rem;
	}
}

@media only screen and (max-width: 600px) {
	.section--banner-content {
		max-width: 80%;
	}
}

@media only screen and (max-width: 560px) {
	.section--banner .video-container {
		display: none;
	}

	.section--banner .mobile-only {
		display: block !important;
	}

	.section--banner .video-play {
		height: 7rem;
		width: 7rem;
	}

	.section--banner .video-play img {
		height: 3rem;
		width: 3rem;
	}
}

@media only screen and (max-width: 375px) {
	.section--banner {
		padding: 14rem 0 10rem;
	}

	.section--banner.section-thick {
		padding: 0 0 34rem;
	}

	.section--banner h1 {
		font-size: 3em;
	}

	.section--banner-content {
		max-width: 100%;
	}

	.section--banner .LazyImage {
		margin: 0 auto 1rem;
		max-height: 5rem;
	}
}
