.section--contact {
	padding: 8rem 0 14rem;
}

.section--contact .container {
	display: flex;
	flex-wrap: wrap;
}

.section--contact .container .title {
	flex: 0 0 100%;
	margin-bottom: 2rem;
}

.section--contact-info {
	margin-right: 10rem;
	flex: 0 0 30%;
}

.section--contact-info:last-of-type {
	margin-right: 0;
}

.section--contact-info h2 {
	padding-bottom: 2rem;
	margin-bottom: 4rem;
	border-bottom: .1rem solid var(--primary);
	display: block;
}

.section--contact-info p, .section--contact-info a {
	color: var(--primary);
	font-size: 1.7em;
	margin: 0 0 1rem !important;
	display: block;
	line-height: 1.4;
}

.section--contact-info a:hover {
	color: #a6a6a6;
	color: var(--secondary);
}

.section--contact-info .social-media {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

.section--contact-info .social-media li {
	list-style-type: none;
}

.section--contact-info .social-media a {
	padding: .5rem 1.5rem;
	display: block;
}

.section--contact-info .social-media li:first-of-type a {
	padding-left: 0;
}

.section--contact-info .social-media svg {
	height: 2.5rem;
	width: 2.5rem;
}

.section--contact-info .social-media svg * {
	fill: var(--primary);
	transition: all ease-in-out .2s;
}

.section--contact-info .social-media a:hover svg * {
	fill: var(--secondary);
}


@media only screen and (max-width: 850px) {
	.section--contact-info {
		flex: 1;
	}
}

@media only screen and (max-width: 600px) {
	.section-contact .container {
		justify-content: center;
	}

	.section--contact-info {
		flex: 0 0 100%;
		margin-bottom: 4rem;
	}

	.section--contact-info:last-of-type {
		margin-bottom: 0;
	}

	.section--contact-info h2 {
		margin-bottom: 2rem;
	}

	.section--contact-info .social-media svg {
		height: 1.5rem;
	}

	.section--contact-info .social-media a {
		font-size: 1em;
	}
}

@media only screen and (max-width: 375px) {
	.section--contact .container .title {
		margin-bottom: 2rem !important;
	}

	.section--contact {
		padding: 5rem 0 8rem;
	}
}
