.EnquiryForm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex: 0 0 60%;
}

.EnquiryForm h2 {
  flex: 0 0 100%;
  margin-bottom: 4rem;
}

legend {
  flex: 0 0 100%;
}

.EnquiryForm--Label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  flex: 0 0 31.5%;
  margin: 0 0 2rem;
}

.EnquiryForm .textarea {
  flex: 0 0 100%;
  margin: 0;
}

.EnquiryForm--Input {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1;
  color: #2b2b2b !important;
  background-color: var(--lightGrey);
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 2rem 2.5rem;
  border: none;
  resize: none;
  width: 100%;
}

.EnquiryForm input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--lightGrey) inset;
}

.EnquiryForm input::-webkit-input-placeholder {
  color: #2b2b2b;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.EnquiryForm input:-moz-placeholder {
  /* Firefox 18- */
  color: #2b2b2b;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.EnquiryForm input::-moz-placeholder {
  /* Firefox 19+ */
  color: #2b2b2b;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.EnquiryForm input:-ms-input-placeholder {
  color: #2b2b2b;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.EnquiryForm textarea::-webkit-input-placeholder {
  color: #2b2b2b;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.EnquiryForm textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #2b2b2b;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.EnquiryForm textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #2b2b2b;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.EnquiryForm textarea:-ms-input-placeholder {
  color: #2b2b2b;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.file-download {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.file-download-item {
  flex: 0 0 48.7%;
}

.file-download .EnquiryForm--Label {
  background-color: white;
  border: 0.1rem solid var(--primary);
  padding: 2rem 2.5rem;
  text-align: center !important;
  font-size: 1em;
  font-family: var(--font-secondary);
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.file-download .EnquiryForm--Label span {
  margin: 0 auto 0.7rem;
  color: var(--primary);
}

.file-download .EnquiryForm--Input {
  display: none;
}

.file-download .EnquiryForm--Select {
  border-radius: 0;
  background: none;
  appearance: none;
}

.EnquiryForm--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}

.EnquiryForm--Input:focus {
  outline: none;
  border-color: var(--secondary);
}

.EnquiryForm--Input[disabled],
.EnquiryForm--SubmitButton[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.EnquiryForm--Input::placeholder {
  text-transform: none;
}

.EnquiryForm--Alert {
  background: var(--lightGrey);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
  font-family: var(--font-secondary);
  font-size: 1.8em;
  margin-bottom: 0;
  margin-top: 2rem;
}

.EnquiryForm--Alert svg {
  height: 1em;
  margin-right: 0.3em;
}

.EnquiryForm--SubmitButton.button {
  color: #2b2b2b !important;
  font-weight: 600;
  font-size: 1.2em;
  padding: 1.5rem 4rem;
  border: 0.1rem solid #2b2b2b;
  flex: 1;
  min-width: auto;
  margin-top: 4rem;
}

.EnquiryForm--SubmitButton.button:hover {
  color: var(--secondary) !important;
  border-color: var(--secondary);
}

@media only screen and (max-width: 1100px) {
  .EnquiryForm--Input {
    font-size: 1em;
    padding: 1.5rem 2.5rem;
  }

  .EnquiryForm input::-webkit-input-placeholder {
    font-size: 1em;
  }

  .EnquiryForm input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 1em;
  }

  .EnquiryForm input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1em;
  }

  .EnquiryForm input:-ms-input-placeholder {
    font-size: 1em;
  }

  .EnquiryForm textarea::-webkit-input-placeholder {
    font-size: 1em;
  }

  .EnquiryForm textarea:-moz-placeholder {
    /* Firefox 18- */
    font-size: 1em;
  }

  .EnquiryForm textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1em;
  }

  .EnquiryForm textarea:-ms-input-placeholder {
    font-size: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .EnquiryForm .form-description {
    text-align: center;
  }

  .EnquiryForm {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 600px) {
  .EnquiryForm--Label,
  .file-download-item {
    flex: 0 0 100% !important;
    margin-bottom: 1rem;
  }

  .file-download .EnquiryForm--Label {
    margin-bottom: 1rem;
  }

  .file-download .EnquiryForm--Label span {
    flex: 0 0 100%;
  }

  .form--footer {
    flex: 0 0 100%;
    text-align: center;
  }

  .EnquiryForm--SubmitButton.button {
    min-width: 20rem;
    margin: 2rem auto 0;
  }
}

@media only screen and (max-width: 375px) {
  .file-download .EnquiryForm--Label {
    font-size: 0.8em;
    padding: 1.5rem 2rem;
  }
}
