.EnquiryForm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 500px;
}

.EnquiryForm--Label {
  flex: 0 0 47%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.textarea {
  flex: 0 0 100%;
  margin-top: 1rem;
}

.EnquiryForm--Input {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.2em;
  flex: 0 0 100%;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: none;
  border-bottom: 1px solid #bababa;
  padding: 0.75rem 0.5rem;
  line-height: 1;
  transition: border-color 0.2s;
  resize: none;
  background-color: transparent;
  color: white;
  max-height: 8rem;
  box-shadow: none;
}

input::-webkit-input-placeholder {
color: white;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white;  
}
 
input:-ms-input-placeholder {  
color: white;  
}

textarea::-webkit-input-placeholder {
color: white;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: white;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: white;  
}
 
textarea:-ms-input-placeholder {  
color: white;  
}

.EnquiryForm--Select {
  border-radius: 0;
  background: none;
  appearance: none;
}

.EnquiryForm--Label.has-arrow:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 50%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 10px;
  width: 10px;
  transform: translateY(-75%) rotate(45deg);
  pointer-events: none;
}

.EnquiryForm--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}

.EnquiryForm--Input:focus {
  outline: none;
  border-color: var(--secondary);
}

.EnquiryForm--Input[disabled],
.EnquiryForm--SubmitButton[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.EnquiryForm--Input::placeholder {
  text-transform: none;
}

.EnquiryForm--Alert {
  background: var(--lightGrey);
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.form--footer {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 100%;
}

.EnquiryForm--SubmitButton.button {
  color: var(--secondary);
  font-weight: 400;
  font-size: 1.2em;
  padding: 1rem 2.5rem;
  border: .1rem solid var(--secondary);
  margin-top: 1rem;
}







