.section--featured-posts {
	padding: 0 0 6rem;
}

.archive--posts {
	margin-top: 10rem;
	padding-bottom: 6rem;
}

.section--featured-posts .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.featured-posts-heading .title {
	margin-bottom: 1.5rem;
}

.section--featured-posts .archive-link {
	color: var(--primary);
	transition: all ease-in-out .2s;
	display: flex;
	align-items: center;
	line-height: 1;
	margin: 0;
}

.section--featured-posts .archive-link:hover {
	color: var(--secondary);
}

.section--featured-posts .archive-link span {
	font-size: 1.4em;
	margin-left: .5rem;
}

.section--featured-posts-items {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 100%;
	margin-top: 4rem;
	justify-content: center;
}

.section--featured-posts-item {
	flex: 0 0 30%;
	margin: 0 5rem 5rem 0;
}

.section--featured-posts-item .BackgroundImage {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.section--featured-posts-item .BackgroundImage:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	transition: all ease-in-out .2s;
	opacity: 0;
}

.section--featured-posts-item .post-category {
	font-size: 11px;
	color: #2b2b2b;
	text-transform: uppercase;
	letter-spacing: .25em;
	padding: 1rem 1.2rem;
	background-color: var(--lightGrey);
	display: inline-block;
	margin-top: 1.5rem;
}

.section--featured-posts-item-content h3 {
	font-size: 24px;
	margin-top: 1.5rem;
	line-height: 1.3;
	color: var(--primary);
	transition: all ease-in-out .2s;
}

.section--featured-posts-item-info {
	display: flex;
	align-items: center;
	margin-top: 3rem;
	padding: .5rem 0;
}

.section--featured-posts-item-info .title {
	margin: 0;
	font-size: 12px;
}

.section--featured-posts-item-info span {
	margin: 0 1rem !important;
}

.section--featured-posts-item:nth-of-type(3n+3), .section--featured-posts-item:last-of-type {
	margin-right: 0;
}

.home-posts .section--featured-posts-item:nth-of-type(1),
.home-posts .section--featured-posts-item:nth-of-type(3) {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}

.section--featured-posts-item:hover .BackgroundImage:before {
	opacity: 1;
}


@media only screen and (max-width: 1120px) {
	.section--featured-posts-item {
		margin: 0 5% 5vw 0;
	}
}

@media only screen and (max-width: 1020px) {
	.section--featured-posts-item-content h3 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 850px) {
	.section--featured-posts-item .post-category {
		font-size: 9px;
	}

	.section--featured-posts-item-info .title {
		font-size: 9px;
	}
}

@media only screen and (max-width: 760px) {
	.section--featured-posts-item {
		flex: 0 0 85%;
		margin: 0 0 5rem !important;
	}

	.section--featured-posts-item:nth-of-type(3n+3),
	.section--featured-posts-item:nth-of-type(4n+3),
	.section--featured-posts-item:nth-of-type(1),
	.section--featured-posts-item:nth-of-type(4) {
		display: block;
	}

	.section--featured-posts-item:nth-of-type(3n+3) .post-category,
	.section--featured-posts-item:nth-of-type(4n+3) .post-category,
	.section--featured-posts-item:nth-of-type(1) .post-category,
	.section--featured-posts-item:nth-of-type(4) .post-category {
		margin-top: 1.5rem;
	}

	.section--featured-posts-item:nth-of-type(3n+3) .BackgroundImage,
	.section--featured-posts-item:nth-of-type(4n+3) .BackgroundImage,
	.section--featured-posts-item:nth-of-type(1) .BackgroundImage,
	.section--featured-posts-item:nth-of-type(4) .BackgroundImage {
		margin-top: 0;
	}

	.featured-posts-heading {
		text-align: center;
		flex: 0 0 100%;
	}

	.section--featured-posts .archive-link {
		margin: 0 auto;
	}

	.section--featured-posts.archive--posts {
		margin: 5rem 0;
	}

	.section--featured-posts.archive--posts .container {
		justify-content: center;
	}
}

@media only screen and (max-width: 415px) {
	.section--featured-posts {
		padding: 0 0 3rem;
	}

	.section--featured-posts-item-info {
		margin-top: 2rem;
	}
}

@media only screen and (max-width: 320px) {
	.section--featured-posts-item {
		flex: 0 0 95%;
	}
}
