.footer {
  background: rgba(0,0,0,0.9);
  color: white;
  padding: 6rem 0 0;
}

footer * {
	color: white;
}

.footer--col-left, .footer--col-right {
	flex: 0 0 48%;
}

footer legend, footer h3 {
	font-size: 2.4em;
	font-family: var(--font-primary);
	margin: 0 0 4rem;
}

footer legend {
	margin: 0 0 5rem;
}

.footer .container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}

.footer--col-right h3 {
	margin-left: .5rem;
}

.footer--nav-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer--nav-items a {
	flex: 0 0 30%;
	font-size: 1.5em;
	line-height: 1;
	text-transform: uppercase;
	padding: .5rem;
}

.footer--bottom .container {
	justify-content: space-between;
}

.footer--bottom {
	margin: 6rem 0 0;
	padding: 0 0 2rem;
}

.footer--bottom a, .footer--bottom p, .footer--bottom li {
	margin: 0;
	font-size: 1.4em;
	list-style-type: none;
}

.footer--bottom a:hover {
	color: var(--secondary);
}

.footer--bottom ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.footer--bottom a {
	font-size: inherit;
	padding: .5rem;
}

.footer--social-media {
	display: flex;
}

.footer--social-media svg {
	height: 1.3rem;
	width: 1.3rem;
	transform: scale(1);
	transition: inherit;
}

.footer--social-media a {
	padding: .5rem 1.5rem;
}

.footer--social-media a:first-of-type {
	padding-left: 0;
}

.footer--social-media a:hover svg {
	transform: scale(1.2);
}

@media only screen and (max-width: 1300px) {
	.footer--col-left {
		flex: 0 0 40%;
	}

	.footer--col-right {
		flex: 0 0 54%;
	}
}

@media only screen and (max-width: 1220px) {
	.footer--nav-items a {
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 1020px) {
	.footer .container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer--col-left, .footer--col-right {
		flex: 0 0 100%;
	}

	.footer--col-right {
		text-align: center;
	}

	.footer--bottom .container {
		justify-content: space-between;
	}
}

@media only screen and (max-width: 700px) {
	.footer--bottom .container {
		display: block;
		text-align: center;
	}

	.footer--social-media {
		justify-content: center;
		margin: 1rem 0;
	}

	.footer--social-media a:first-of-type {
		padding-left: 1.5rem;
	}
}

@media only screen and (max-width: 600px) {
	.footer--nav-items a {
		flex: 0 0 48%;
	}
}

@media only screen and (max-width: 320px) {
	.footer {
		padding: 3rem 0 0;
	}
	
	.footer--nav-items a {
		flex: 0 0 100%;
	}

	.footer--col-right h3 {
		margin-bottom: 2rem;
	}
}














