.section--image-gallery {
	padding: 4rem 0;
}

.section--image-gallery .container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 120vw;
}

.section--image-gallery-heading {
	position: absolute;
	top: 0;
	left: 0;
}

.section--image-gallery-heading .title {
	margin-bottom: 1.5rem;
	color: var(--secondary);
}

.section--gallery-items {
	width: auto;
}

.section--image-gallery-item {
	width: 50%;
	margin: 0 0 2vw 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.section--image-gallery-item .BackgroundImage {
	transform: scale(1);
	transition: all ease-in-out .3s;
	filter: grayscale(100%);
}

.section--image-gallery-item:first-of-type {
	height: 50vw;
	width: 48%;
	margin-top: 12rem;
	margin-right: 2%;
}

.section--image-gallery-item:nth-of-type(2) {
	height: 35vw;
	width: 48%;
	margin-right: 2%;
}

.section--image-gallery-item:nth-of-type(3) {
	height: 15vw;
	width: 48%;
	margin-right: 2%;
}

.section--image-gallery-item:nth-of-type(4) {
	height: 45vw;
}

.section--image-gallery-item:nth-of-type(5) {
	height: 20vw;
}

.section--image-gallery-item:nth-of-type(6) {
	height: 35vw;
}

.section--image-gallery-item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 2;
}

.section--image-gallery-item:hover .BackgroundImage {
	transform: scale(1.1);
	filter: grayscale(0%);
}

@media only screen and (max-width: 900px) {
	.section--image-gallery-heading {
		position: relative;
		margin-bottom: 3rem;
	}

	.section--image-gallery-heading h2 {
		font-size: 3.5em;
	}


	.section--image-gallery-item:first-of-type {
		margin-top: 0;
	}

	.title-fancy {
		font-size: 1.4em !important;
		padding: 1rem 3rem !important;
	}
}

@media only screen and (max-width: 800px) {
	.section--image-gallery .container {
		height: 130vw;
	}

	.section--image-gallery-item:nth-of-type(3) {
		height: 20vw;
	}

	.section--image-gallery-item:nth-of-type(6) {
		height: 40vw;
	}
}

@media only screen and (max-width: 750px) {
	.section--image-gallery-heading h2 {
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 600px) {

	.section--image-gallery .container {
		height: 140vw;
	}

	.section--image-gallery-heading h2 {
		font-size: 2em;
	}

	.section--image-gallery-heading .title {
		font-size: 1em;
		margin-bottom: .5rem;
	}

	.section--image-gallery-item:first-of-type {
		height: 55vw;
	}

	.section--image-gallery-item:nth-of-type(2) {
		height: 30vw;
		margin-right: 0;
	}

	.section--image-gallery-item:nth-of-type(3) {
		height: 25vw;
	}

	.section--image-gallery-item:nth-of-type(4) {
		height: 50vw;
		margin-right: 0;
	}

	.section--image-gallery-item:nth-of-type(5) {
		height: 25vw;
	}
}

@media only screen and (max-width: 425px) {

	.section--image-gallery-heading {
		margin-bottom: 1rem;
	}

	.section--image-gallery-heading h2 {
		font-size: 1.7em;
	}
}

@media only screen and (max-width: 320px) {
	.section--image-gallery {
		padding: 8rem 0 4rem;
	}

	.section--image-gallery-heading {
		position: absolute;
		top: -50px;
	}

	.section--image-gallery-item:nth-of-type(2) {
		height: 40vw;
	}
}





