.section--image-gallery {
	padding: 4rem 0;
}

.section--image-gallery .container {
	position: relative;
}

.section--image-gallery-heading {
	position: absolute;
	top: 0;
	left: 0;
}

.section--image-gallery-heading .title {
	margin-bottom: 1.5rem;
	color: var(--secondary);
}

.section--image-gallery-item {
	width: 48%;
	margin: 0 2% 2% 0;
}

.section--image-gallery-item:first-of-type {
	height: 55vw;
	margin-top: 12rem;
}

.section--image-gallery-item:nth-of-type(2) {
	height: 45vw;
	margin-right: 0;
}

.section--image-gallery-item:nth-of-type(3) {
	height: 25vw;
}

.section--image-gallery-item:nth-of-type(4) {
	height: 35vw;
	margin-right: 0;
}

.section--image-gallery-item:nth-of-type(5) {
	height: 35vw;
}