.section--join-us {
	padding: 12rem 0 8rem;
}

.section--join-us .container {
	display: flex;
	justify-content: space-between;
}

.section--join-us-intro {
	flex: 0 0 30%;
}

.section--join-us-intro h2 {
	padding-bottom: 3rem;
	margin-bottom: 5rem;
	border-bottom: .1rem solid var(--primary);
}

@media only screen and (max-width: 1100px) {
  .section--join-us-intro {
    flex: 0 0 35%;
  }

  .section--join-us h2 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 900px) {
  .section--join-us {
    padding: 8rem 0;
  }
  
  .section--join-us .container {
    flex-wrap: wrap;
  }

  .section--join-us-intro {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 8rem;
  }

  .section--join-us-intro h2 {
    display: inline-block;
    margin-bottom: 2rem; 
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 375px) {
	.section--join-us h2 {
		font-size: 2em;
	}

	.section--join-us-intro {
		margin-bottom: 6rem;
	}
}



