.section--models {
	margin-top: 20rem;
}

.section--models .container {
	display: flex;
	flex-wrap: wrap;
}

.section--model-list-heading {
	flex: 0 0 40%;
}

.section--model-list-heading .title {
	margin-bottom: 2rem;
}

.section--model-list-heading h2 {
	margin-bottom: 0;
}

.section--models .nav--list-items {
	flex: 0 0 50%;
	align-items: flex-end;
}

.section--model-list-items {
	flex: 0 0 100%;
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
}

.section--model-list-item {
	position: relative;
	flex: 0 0 29%;
	margin: 0 6.5% 5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 50rem;
}

.section--model-list-item .name-rotate {
	position: absolute;
	top: 40rem;
	left: -4rem;
	z-index: 1;
	transform: rotate(270deg);
	transform-origin: left top;
	min-width: 40rem;
}

.section--model-list-item .name-rotate p {
	text-align: right;
	color: var(--primary);
	font-family: var(--font-primary);
	font-size: 1.4em;
}

.section--model-list-item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
}

.section--model-list-item:nth-child(3n+3) {
	margin-right: 0;
}