.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0);
}

.nav a {
  transition: none !important;
}

.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav--container .Logo {
  width: 12rem;
  height: 6.6rem;
  margin: 0;
}

.nav--container .LogoScroll {
  opacity: 0;
  visibility: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.nav--container nav {
  position: absolute;
  left: 16rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav--container nav > ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav--container nav > ul > li,
.nav--container nav > ul > li > a {
  position: relative;
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.2rem;
  list-style-type: none;
  text-transform: uppercase;
}

.nav--container nav > ul > li {
  margin-right: 4rem;
}

.nav--container nav > ul li > a {
  font-size: inherit;
}

.nav--container nav > ul > li:hover,
.nav--container nav > ul > li > a:hover {
  color: var(--secondary);
}

.nav--container nav ul li .subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid white;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all ease-in-out 0.2s;
}

.nav--container nav ul .menu-item-has-children:hover .subMenu {
  opacity: 1;
  visibility: visible;
  max-height: 70rem;
  margin-top: 1rem;
}

.nav--container nav ul li .subMenu li {
  padding-bottom: 0;
  list-style-type: none;
}

.nav--container nav ul li .subMenu li a {
  font-size: 0.5em;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.2rem 1.5rem;
  display: block;
  max-width: 100%;
  border-bottom: 0.1rem solid white;
}

.nav--container nav ul li .subMenu li:last-of-type a {
  border-bottom: none;
}

.nav--container nav ul li .subMenu li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.nav--container .client-nav {
  display: flex;
}

.nav--container .title {
  color: white;
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
  transition: all ease-in-out 0.2s;
}

.nav--container .title svg * {
  transition: none !important;
}

.nav--container .title:hover,
.nav--container .title:hover svg * {
  color: var(--secondary);
  fill: var(--secondary);
}

.nav--container .title svg {
  margin-right: 1em;
}

.nav--container .title svg path {
  transition: all ease-in-out 0.2s;
}

.nav--container #mobile-menu {
  width: 4rem;
  position: relative;
  height: 2rem;
  cursor: pointer;
  display: none;
  z-index: 999;
  left: 0;
}

.nav--container #mobile-menu span {
  display: block;
  height: 0.3rem;
  background-color: white;
  position: absolute;
  width: 100%;
  transition: all ease-in-out 0.2s;
}

.nav--container #mobile-menu span:first-of-type {
  top: 0;
}

.nav--container #mobile-menu span:nth-of-type(2) {
  top: 50%;
  left: 0;
  transition-delay: 0.05s;
}

.nav--container #mobile-menu span:last-of-type {
  top: 100%;
  transition-delay: 0.1s;
}

.nav--container #mobile-menu:hover span {
  background-color: var(--secondary);
}

.nav.active {
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.nav.active .nav--container .title {
  color: var(--primary);
}

.nav.active .nav--container .title svg * {
  fill: var(--primary);
  transition: all ease-in-out 0.2s;
}

.nav.active .nav--container .title:hover,
.nav.active .nav--container .title:hover svg * {
  color: var(--secondary);
  fill: var(--secondary);
}

.nav.active .button {
  color: var(--primary);
  border-color: var(--primary);
}

.nav.active .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav.active .nav--container .Logo {
  opacity: 0;
  visibility: hidden;
}

.nav.active .nav--container .LogoScroll {
  opacity: 1;
  visibility: visible;
}

.nav.active .nav--container nav ul li,
.nav.active .nav--container nav > ul > li > a {
  color: black;
}

.nav.active .nav--container nav > ul > li > a:hover,
.nav.active .nav--container nav > ul > li:hover {
  color: var(--secondary);
}

.nav.active .nav--container nav ul li .subMenu {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: var(--primary);
}

.nav.active .nav--container nav ul li .subMenu li a {
  border-color: var(--primary);
  color: var(--secondary);
}

.nav.active .nav--container nav ul li .subMenu li a:hover {
  color: var(--primary);
}

.nav.active .nav--container #mobile-menu span {
  background-color: var(--primary);
}

.nav .mobile-only {
  display: none;
}

@media only screen and (max-width: 1020px) {
  .nav--container nav > ul > li {
    font-size: 1.2em;
    margin-right: 3rem;
  }

  .nav--container .title {
    font-size: 1.2em;
  }

  .nav--container .title svg {
    margin-right: 0.5em;
    height: 1.5rem;
  }

  .nav--container .button {
    padding: 1rem 2.5rem;
    min-width: auto;
    font-size: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .nav--container.container {
    position: static;
  }

  .nav--container .Logo {
    width: 16rem;
  }

  .nav--container .LogoScroll {
    left: 5%;
  }

  .nav--container nav {
    background: rgba(255, 255, 255, 0.6);
    right: -100%;
    left: 100%;
    top: 100%;
    width: 100%;
    margin-right: 0;
    transition: all ease-in-out 0.3s;
    z-index: 999;
    transform: none;
  }

  .nav--container nav ul {
    display: block;
    border-top: 0.2rem solid white;
  }

  .nav--container nav > ul > li {
    margin: 0;
    border-bottom: 0.1rem solid white;
  }

  .nav--container nav > ul li > a {
    display: block;
    padding: 1.5rem 2rem;
  }

  .nav--container nav ul .menu-item-has-children .menu-item-content {
    padding: 1.5rem 2rem;
    display: block;
  }

  .nav--container nav ul .menu-item-has-children .dropdown-arrow {
    position: absolute;
    right: 3%;
    top: 1.5rem;
  }

  .nav--container nav ul li a:hover,
  .nav--container nav ul li:hover {
    color: var(--primary);
    background-color: rgba(255, 255, 255, 0.4);
  }

  .nav--container nav ul .menu-item-has-children:hover .subMenu {
    max-height: 0;
    opacity: 0;
    z-index: -2;
    visibility: hidden;
    margin-top: 0;
  }

  .nav--container nav ul .menu-item-has-children.active .subMenu {
    max-height: 70rem;
    opacity: 1;
    z-index: 2;
    visibility: visible;
    border-top: 0.2rem solid white;
    border-bottom: 0.1rem solid white;
  }

  .nav--container nav ul .menu-item-has-children .subMenu,
  .nav.active .nav--container nav ul .menu-item-has-children .subMenu {
    position: static;
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .nav--container #mobile-menu {
    display: block;
  }

  .nav.active .nav--container nav {
    background-color: white;
  }

  .nav.active .nav--container nav ul li a,
  .nav.active .nav--container nav ul li {
    color: var(--primary);
  }

  .nav.active .nav--container nav > ul {
    border-color: var(--primary);
  }

  .nav.active .nav--container nav > ul > li {
    border-color: var(--primary);
  }

  .nav.active .nav--container nav ul .menu-item-has-children.active .subMenu {
    border-top: 0.2rem solid var(--primary);
    border-bottom: 0.1rem solid var(--primary);
  }

  .mobile-active .nav--container nav {
    right: 0;
    left: 0;
  }

  .mobile-active #mobile-menu span:first-of-type {
    top: 50%;
    transform: rotate(45deg);
  }

  .mobile-active #mobile-menu span:nth-of-type(2) {
    left: -100%;
    opacity: 0;
  }

  .mobile-active #mobile-menu span:last-of-type {
    top: 50%;
    transform: rotate(-45deg);
  }
}

@media only screen and (max-width: 600px) {
  .nav--container .client-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav--container .Logo {
    opacity: 0;
  }

  .nav--container .client-nav .title,
  .nav--container .client-nav .button {
    flex: 0 0 50%;
    text-align: center;
    border: none;
    margin: 0;
    justify-content: center;
    background-color: var(--primary);
    font-size: 1em;
  }

  .nav--container .client-nav .button {
    background-color: var(--secondary);
  }

  .nav--container .client-nav .title:hover,
  .nav--container .client-nav .button:hover {
    opacity: 0.8;
  }

  .nav {
    margin-top: 3rem;
  }

  .nav.active .nav--container .client-nav .title,
  .nav.active .nav--container .client-nav .title svg *,
  .nav.active .nav--container .client-nav .button {
    color: white;
    fill: white;
  }

  .nav .mobile-only {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .nav--container .client-nav .title {
    margin-bottom: 0 !important;
  }
}
