.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 2rem 0;
}

.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--container .Logo {
	width: 18rem;
	height: 6.6rem;
  margin: 0;
}

.nav--container .client-nav {
  display: flex;
}

.nav--container .title {
  color: white;
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
}

.nav--container .title svg {
  margin-right: 1em;
}



/*@media only screen and (max-width: 680px) {
  .nav--container .Logo {
    height: 4.6rem;
    width: 13rem;
  }

  .nav--container .button {
    padding: 1rem 2rem;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  .nav--container .button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: var(--primary);
    border-radius: 0;
    text-align: center; 
  }

  .nav--container .button:hover {
    border-color: transparent;
    background-color: rgba(255,255,255,0.9);
  }

  .nav {
    padding-top: 4.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .nav--container .Logo {
    height: 4rem;
    width: 11rem;
  }
}
*/















