.nav--list-items {
	padding: 0;
	margin: 0;
	display: flex;
}

.nav--list-items li {
	list-style-type: none;
	display: inline-block;
	padding: 1.5rem 3.5rem;
	min-width: 13rem;
	border: 1px solid var(--primary);
	color: var(--primary);
	margin-right: 2rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.2em;
	font-size: 1.2em;
	text-align: center;
	transition: all ease-in-out .2s;
}

.nav--list-items li:last-of-type {
	margin-right: 0;
}

.nav--list-items li:hover {
	background-color: var(--primary);
	color: white;
	border-color: transparent;
}