.pagination {
	flex: 0 0 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 6rem 0 0;
}

.pagination li {
	list-style-type: none;
}

.pagination li span {
	padding: 1rem;
	font-size: 1em;
	color: var(--primary);
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

.pagination li span.no-hover {
	cursor: text;
	color: var(--secondary);
}

.pagination li span.active-link {
	color: var(--secondary);
	cursor: text;
}

.pagination li span.active:hover {
	color: var(--secondary);
}