.section--partners {
	padding-bottom: 2rem;
}

.section--partners .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.section--partners-icon {
	flex: 0 0 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: calc(20% / 9);
	margin-bottom: 3rem;
}

.section--partners-icon:last-of-type{
	margin-right: 0;
}

.section--partners-icon img {
	margin: 0;
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.section--partners-icon {
		flex: 0 0 15%;
		margin-right: calc(20% / 5);
	}
}










