.section--members-column {
	background-color: var(--lightGrey);
}

.section--members-column .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.section--members-column-image {
	position: relative;
	flex: 0 0 35%;
	min-height: 55rem;
	top: 4rem;
}

.section--members-column-info {
	flex: 0 0 40%;
	margin-left: 10%;
	padding: 4rem 0;
}

.section--members-column-info p {
	line-height: 2.4rem;
}

.section--members-column.right-align {
	background-color: white;
}

.section--members-column.right-align .container {
	flex-direction: row-reverse; 
}

.section--members-column.right-align .section--members-column-info {
	margin-left: 0;
	margin-right: 10%;
}


@media only screen and (max-width: 1400px) {
	.section--members-column-image {
		min-height: 40vw;
	}
}

@media only screen and (max-width: 1100px) {
	.section--members-column-info {
		flex: 0 0 50%;
		margin-left: 5%;
	}

	.section--members-column.right-align .section--members-column-info {
		margin-right: 5%;
	}

	.section--members-column {
		padding: 2rem;
	}

	.section--members-column-image {
		top: 0;
	}
}

@media only screen and (max-width: 850px) {
	.section--members-column .container {
		flex-wrap: wrap;
	}

	.section--members-column-info {
		flex: 0 0 100%;
		text-align: center;
		margin: 0 !important;
		padding-bottom: 0;
	}

	.section--members-column {
		padding: 4rem 0;
	}

	.section--members-column-image {
		flex: 0 0 50%;
	}
}











