.section--partners {
	padding-bottom: 2rem;
}

.section--partners .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.section--partners-icon {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: calc(20% / 4);
	margin-bottom: 2rem;
}

.section--partners-icon:last-of-type{
	margin-right: 0;
}

.section--partners-icon img {
	margin: 0;
	height: 100%;
	width: 100%;
}











