.section--services {
	padding: 15rem 0 8rem;
}

.section--services-heading {
	text-align: center;
	max-width: 40%;
	margin: 0 auto 7rem;
}

.section--services-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section-services-item {
	position: relative;
	flex: 0 0 31%;
	margin-bottom: 4rem;
	height: 35rem;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: grayscale(100%);
	cursor: pointer;
	transition: all ease-in-out .2s;
	overflow: hidden;
}

.section-services-item .BackgroundImage {
	transform: scale(1);
	transition: all ease-in-out .2s;
}

.section-services-item .title-fancy {
	font-size: 4em;
	max-width: 90%;
	margin: 0 auto;
	padding: 2rem 4rem;
	text-shadow: 0 .1rem 1.2rem rgba(0,0,0,0.6);
}

.service-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease-in-out .3s;
	opacity: 0;
}

.service-popup .container {
	width: 60%;
	height: auto;
	padding: 8rem 9rem;
	background-color: white;
	transform: scale(0);
	transition: all ease-in-out .3s;
	position: relative;
}

.service-popup .popup-close {
	padding: 1rem;
	position: absolute;
	top: 3.5rem;
	right: 4rem;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	z-index: 999;
}

.service-popup .popup-close	span {
	display: block;
	height: .3rem;
	background-color: var(--primary);
	position: absolute;
	width: 100%;
	transition: all ease-in-out .2s;
}

.service-popup .popup-close	span:first-of-type {
	transform: rotate(45deg);
}

.service-popup .popup-close	span:last-of-type {
	transform: rotate(315deg);
}

.service-popup .popup-close:hover span {
	background-color: var(--secondary);
}


.service-popup h3 {
	font-size: 4em;
  	font-weight: 300;
}

.service-popup .title {
	padding-bottom: 1.5rem;
	border-bottom: .1rem solid var(--secondary);
	margin-bottom: 4.5rem;
}

.service-popup p, .service-popup li {
	line-height: 2.5rem;
	list-style-type: circle;
}

.service-popup.active {
	opacity: 1;
	z-index: 9;
}

.service-popup.active .container {
	transform: scale(1);
	z-index: 10;
}

.section-services-item:hover {
	filter: grayscale(0%);
}

.section-services-item:hover .BackgroundImage {
	transform: scale(1.1);
}