.SignupForm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 500px;
}

legend {
  flex: 0 0 100%;
}

.SignupForm--Label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.textarea {
  flex: 0 0 100%;
  margin-top: 1rem;
}

label {
  flex: 0 0 70%;
}

.SignupForm--Input {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.3em;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: none;
  border-bottom: 1px solid #bababa;
  padding: 0.75rem 0.5rem;
  line-height: 1;
  transition: border-color 0.2s;
  resize: none;
  background-color: transparent;
  color: white;
  max-height: 8rem;
  box-shadow: none;
  width: 100%;
  box-shadow: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

input::-webkit-input-placeholder {
  color: white;
  font-size: 1.3em;
  font-family: var(--font-secondary);
}
 
input:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 1.3em;
  font-family: var(--font-secondary);  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
  color: white;
  font-size: 1.3em;
  font-family: var(--font-secondary);  
}
 
input:-ms-input-placeholder {  
  color: white; 
  font-size: 1.3em;
  font-family: var(--font-secondary); 
}

textarea::-webkit-input-placeholder {
  color: white;
  font-size: 1.3em;
  font-family: var(--font-secondary);
}
 
textarea:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 1.3em;
  font-family: var(--font-secondary);  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
  color: white; 
  font-size: 1.3em;
  font-family: var(--font-secondary); 
}
 
textarea:-ms-input-placeholder {  
  color: white; 
  font-size: 1.3em;
  font-family: var(--font-secondary); 
}

.SignupForm--Select {
  border-radius: 0;
  background: none;
  appearance: none;
}

.SignupForm--Label.has-arrow:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 50%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 10px;
  width: 10px;
  transform: translateY(-75%) rotate(45deg);
  pointer-events: none;
}

.SignupForm--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}

.SignupForm--Input:focus {
  outline: none;
  border-color: var(--secondary);
}

.SignupForm--Input[disabled],
.SignupForm--SubmitButton[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.SignupForm--Input::placeholder {
  text-transform: none;
}

.SignupForm--Alert {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-family: var(--font-secondary);
  font-size: 1.3em;
}

.SignupForm--SubmitButton.button {
  color: white;
  font-weight: 400;
  font-size: 1.2em;
  padding: 1rem 2.5rem;
  border: .1rem solid var(--secondary);
  flex: 1;
  min-width: auto;
}

@media only screen and (max-width: 1220px) {
  label {
    flex: 0 0 60%;
  }
}

@media only screen and (max-width: 1020px) {
  .SignupForm {
    margin: 0 auto;
  }

  legend {
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  legend {
    margin-bottom: 2rem;
  }

  label {
    flex: 0 0 100%;
    margin-bottom: 1rem;
  }

  .SignupForm--Input {
    text-align: center;
  }
}





