.section--model-profile {
	padding: 10rem 0;
}

.section--model-profile .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section--model-profile .archive-link {
	flex: 0 0 100%;
	margin-bottom: 6rem;
}

.section--model-profile .archive-link a {
	display: inline-block;
	padding: .5rem;
	color: var(--secondary);
	font-size: 12px;
}

.section--model-profile .archive-link span {
	font-size: 1.4em;
	transition: inherit;
}

.section--model-profile .archive-link a:hover, .section--model-profile .archive-link a:hover span {
	color: var(--secondaryGrey);
}

.section--model-profile-info {
	text-align: right;
	margin-right: 6rem;
	flex: 1;
}

.section--model-profile-info .title {
	padding-bottom: 2rem;
	border-bottom: .1rem solid #979797;
	margin-bottom: 3rem;
}

.section--model-profile-spec-info-item {
	margin-bottom: 1.5rem;
}

.section--model-profile-info .spec-content {
	margin-top: 0;
	font-family: var(--font-primary);
	font-size: 1.8em;
}

.section--model-profile-info .spec-title {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	letter-spacing: .1em;
}

.section--model-profile-images {
	max-width: 75%;
	flex: 0 0 75%;
}

.section--model-profile-images .portfolio-images-slider {
	position: relative;
	height: 70rem;
	margin-bottom: .5rem;
	display: block;
}

.section--model-profile-images .profile-images-nav {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	transition: all ease-in-out 5s;
}

.section--model-profile-slide {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all ease-in-out	0.2s;
}

.section--model-profile-slide .BackgroundImage {
	background-size: contain !important;
	background-repeat: no-repeat !important;
}

.section--model-profile-slide.active {
	opacity: 1;
}

.section--model-profile-nav-slide {
	padding-bottom: 20rem;
	position: relative;
	width: 25%;
	display: inline-block;
	cursor: pointer;

}

.section--model-profile-nav-slide .BackgroundImage {
	filter: grayscale(100%);
	transition: all ease-in-out .2s;
	background: whitesmoke;
}

.section--model-profile-nav-slide.active .BackgroundImage, .section--model-profile-slide.active .BackgroundImage, .section--model-profile-nav-slide:hover .BackgroundImage {
	filter: grayscale(0%) !important;
}

.navigation {
	display: flex;
	justify-content: flex-end;
}

.navigation .nav-link {
	padding: 1rem;
	font-size: 2.3rem;
	cursor: pointer;
	transition: all ease-in-out .2s;
}

.navigation .nav-link:hover {
	color: var(--secondary);
}


@media only screen and (max-width: 1400px) {
	.section--model-profile-nav-slide {
		padding-bottom: 15vw;
	}
}

@media only screen and (max-width: 900px) {
	.section--model-profile {
		padding: 5rem 0 4rem;
	}

	.section--model-profile-images {
		flex: 0 0 100%;
		max-width: 100%;
		order: 1;
	}

	.section--model-profile-info {
		flex: 0 0 100%;
		order: 2;
		margin: 0;
		text-align: left;
	}

	.section--model-profile-spec-info {
		flex: 0 0 21%;
		display: flex;
		flex-wrap: wrap;
	}

	.section--model-profile-spec-info-item {
		margin: 0 3rem 4rem 0;
		flex: 0 0 15%;
	}

	.section--model-profile-info h2, .section--model-profile-info .category {
		flex: 0 0 100%;
	}

	.section--model-profile-nav-slide {
		padding-bottom: 20vw;
	}

	.section--model-profile-images .portfolio-images-slider {
		height: 70vw;
	}
}

@media only screen and (max-width: 600px) {

/*	.section--model-profile-images {
		flex: 0 0 100%;
		max-width: 100%;
	}*/

	.section--model-profile-spec-info {
		flex: 0 0 29%;
	}

	.section--model-profile-info .spec-content {
		font-size: 1.5em;
	}

	.section--model-profile-spec-info:nth-of-type(3n+3) {
		margin: 0 0 6vw 0;
	}

	.section--model-profile .archive-link {
		margin-bottom: 3rem;
	}

	.section--model-profile {
		padding: 5rem 0;
	}
}


@media only screen and (max-width: 414px) {
	.section--model-profile-images .portfolio-images-slider {
		height: 25rem;
	}
}

@media only screen and (max-width: 375px) {
	.section--model-profile {
		padding: 5rem 0 0;
	}

	.section--model-profile-spec-info {
		flex: 0 0 46%;
		text-align: center;
		justify-content: space-between;
	}

	.section--model-profile-spec-info-item {
		margin-right: 0;
		flex: 0 0 25%;
	}

	.section--model-profile-info .spec-title {
		font-size: 1.4em;
	}

	.section--model-profile-info .spec-content {
		font-size: 1.3em;
	}

	.section--model-profile-spec-info:nth-of-type(3n+3) {
		margin: 0 4% 6vw 0;
	}

	.section--model-profile-spec-info:nth-of-type(2n+2) {
		margin: 0 0 6vw 0;
	}

	.section--model-profile .archive-link {
		justify-content: center;
		margin-bottom: 2rem !important;
	}

	.section--model-profile-info h2 {
		text-align: center;
	}

	.section--model-profile-info .category {
		padding-bottom: 1rem;
		margin-bottom: 1.5rem !important;
		text-align: center;
	}
}