.section--single-post .post-container {
	position: relative;
	top: -10rem;
	background-color: white;
	padding: 8rem 12rem 4rem;
	box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
	max-width: 1200px;
	margin: 0 auto;
	z-index: 1;
}

.section--single-post .post-container:after {
	content: '';
	position: absolute;
	bottom: 4rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80%;
	height: .1rem;
	background-color: var(--secondary);
}

.section--single-post .share-buttons {
	position: absolute;
	top: 15%;
	left: -8rem;
	padding: 0;
	margin: 0;
	text-align: center;
}

.section--single-post .share-buttons li {
	list-style-type: none;
	color: #979797;
	padding: .5rem;
	display: block;
}

.section--single-post .share-buttons li:first-of-type {
	transform: rotate(270deg);
	position: relative;
	margin-bottom: 12rem;
	font-size: 1.4em;
}

.section--single-post .share-buttons li:first-of-type:after {
	content: '';
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	left: -8rem;
	width: 7rem;
	height: .1rem;
	background-color: #979797;
}

.section--single-post .share-buttons svg {
	height: 1.5rem;
}

.section--single-post .share-buttons svg * {
	fill: #979797;
	transition: all ease-in-out .2s;
}

.section--single-post .share-buttons svg:hover * {
	fill: var(--primary);
}

.section--single-post-heading, .section--single-post-info {
	text-align: center;
}

.section--single-post-heading h1 {
	font-size: 4em;
	margin: 1.5rem auto 0;
	padding-bottom: 4rem;
	line-height: 1.4;
	border-bottom: .1rem solid var(--secondary);
	width: 90%;
}

.section--single-post-info {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0 0;
}

.section--single-post-info p {
	margin: 0;
}

.section--single-post-info span {
	margin: 0 1rem;
}

.section--single-post .Content {
	padding-bottom: 4rem;
	padding-top: 8rem;
}

.section--single-post .Content p {
	line-height: 1.6;
}

.section--single-post .Content blockquote {
	margin: 3rem 0 3rem auto;
  	max-width: 90%;
}

.section--single-post .Content blockquote p {
	font-size: 1.2em;
  	text-transform: uppercase;
  	color: var(--secondary);
  	letter-spacing: 0.3rem;
  	line-height: 1.6;
  	font-weight: 600;
  	width: 75%;
}

.section--single-post-video {
	display: flex;
	justify-content: center;
	padding-bottom: 4rem;
	max-width: 100%;
}


@media only screen and (max-width: 1000px) {
	.section--single-post .share-buttons {
		left: -7rem;
	}
}

@media only screen and (max-width: 900px) {
	.section--single-post .post-container {
		padding: 6rem 8rem 4rem;
	}

	.section--single-post-heading h1 {
		font-size: 3em;
	}

	.section--single-post .Content {
		padding-top: 5rem;
	}

	.section--single-post-video > div {
		height: 45vw !important;
	}
}

@media only screen and (max-width: 760px) {
	.section--single-post .post-container {
		padding: 4rem 5rem;
	}
}

@media only screen and (max-width: 600px) {
	.section--single-post .post-container {
		padding: 4rem 2rem;
		box-shadow: none;
		top: 0;
	}

	.section--single-post .share-buttons {
		left: -6rem;
	}

	.section--single-post .Content blockquote {
		padding-left: 2rem;
		margin-left: 1rem;
	}

	.section--single-post .Content blockquote p {
		width: 100%;
	}
}

@media only screen and (max-width: 415px) {
	.section--single-post-heading h1 {
		width: 100%;
		font-size: 2.5em;
	}

	.section--single-post .share-buttons {
		left: -4rem;
	}

	.section--single-post .share-buttons li:first-of-type {
		font-size: 1em;
	}

	.section--single-post .share-buttons li a {
		font-size: 1em;
	}

	.section--single-post .share-buttons svg {
		height: 1rem;
	}
}

@media only screen and (max-width: 375px) {
	.section--single-post .share-buttons .title {
		margin-bottom: 12rem !important;
	}

	.section--single-post .post-container {
		padding: 4rem 1rem 4rem 2rem;
	}

	.section--single-post-heading h1 {
		font-size: 2em;
	}
}

