.section--model-profile {
	padding: 10rem 0;
}

.section--model-profile .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section--model-profile .archive-link {
	flex: 0 0 100%;
	margin-bottom: 6rem;
	display: flex;
	align-items: center;
	padding: .5rem;
}

.section--model-profile .archive-link span {
	font-size: 1.4em;
}

.section--model-profile .archive-link:hover, .section--model-profile .archive-link:hover span {
	color: var(--secondaryGrey);
}

.section--model-profile-info {
	text-align: right;
	margin-right: 4rem;
}

.section--model-profile-info .title {
	padding-bottom: 2rem;
	border-bottom: .1rem solid #979797;
	margin-bottom: 3rem;
}

.section--model-profile-spec-info {
	margin-bottom: 3.5rem;
}

.section--model-profile-info .spec-content {
	margin-top: .5rem;
	font-family: var(--font-primary);
	font-size: 2.3em;
}

.section--model-profile-info .spec-title {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	letter-spacing: .1em;
}

.section--model-profile-images {
	max-width: 70%;
	flex: 0 0 70%;
}


.section--model-profile-slide {
	position: relative;
	padding-bottom: 60rem;
	width: 100%;
}

.section--model-profile-slider-nav {
	margin-top: 1rem;
}

.section--model-profile-slider-nav .slick-current .section--model-profile-slide {
	filter: grayscale(0%);
}

.section--model-profile-slider-nav .section--model-profile-slide {
	padding-bottom: 20rem;
	filter: grayscale(100%);
}

















